.container {
    flex: 3;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    height: 100%;
}

h2 {
    margin: 0;
}

.heading1 {
    font-size: 3rem;
    color: white;
    letter-spacing: -2px;
}

.heading2 {
    font-size: 3rem;
    color: rgb(170, 169, 169);
    letter-spacing: -2px;
}

p {
    font-size: 1.3rem;
    color: rgb(147, 147, 147);
}