/* Input.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10%;
    text-align: left;
}

.inputContainer {
    display: flex;
    align-items: center;
}

.input {
    border: none;
    border-bottom: 5px solid rgba(192, 192, 192, 0.8);
    background: transparent;
    outline: none;
    padding: 5px;
    font-size: 2.5rem;
    color: white;
    letter-spacing: -1px;
    width: 100%; /* Take up the full width available */
}

.greenInput {
    color: green;
}

label {
    color: rgba(192, 192, 192, 0.8);
    font-size: 1.3rem;
    margin-top: 30px;
}

.validationButton {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin-top: 10px;
}

.greyArrow {
    color: whitesmoke;
}
