.success-story-editor {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin-bottom: 7vh;
}
  
  .title-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.article-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh;
}

@media (max-width: 1024px) {

  .success-story-editor {
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  .title-options {
    flex-direction: column;
  }

  .article-image {
    flex-direction: column;
  }

}