.editor-container {
    padding: 20px; /* Adjust the value to your desired padding size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the values for the shadow as needed */
    border-radius: 15px;
}

.editor-container label {
    margin-bottom: 10px;
}

@media (max-width: 1024px) {

    .editor-container {
      justify-self: center;
      align-self: center;
      margin-bottom: 25px;
    }

}