.Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
}

.logo {
    height: auto;
    max-width: 20%;
    margin: 0;
}

.text {
    text-align: left;
    align-items: flex-start;
}

.text h2 {
    font-size: 1.5rem;
    font-weight: bold;
    /* margin: 1.5% 0 0 0; */
    color: white;
}

.text p{
    color: white;
}

.highlight {
    color: #B81A1A;
}
  
@media (max-width: 768px) {

    .text div {
        font-size: 1rem;
    }
    .logo {
        max-width: 40%;
    }

}