.container {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text within the container */
}

/* Default styles for all screen sizes */
.ln,
.insta,
.yt {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.fb {
  margin-top: 10px;
  height: 80px;
  width: 150px;
}