.title-input {
    display: flex;
    flex-direction: column;
}

.title-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; /* Make the label text bolder */
    line-height: 1.5;
  }
  
  .title-inp {
    height: 36px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none; /* Remove the outline color while typing */
    font-weight: bold; /* Make the input text bolder */
    line-height: 3;
    font-size: 1.3rem;
  }